@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

/* Fumadocs Layout Width */
:root {
  --font-sans: "Space Grotesk", sans-serif;
}

@layer base {
  html, body {
    @apply overflow-x-hidden relative;
    font-family: var(--font-space-grotesk);
  }
  
  /* Custom Scrollbar */
  *::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  *::-webkit-scrollbar-track {
    background: #111111;
  }
  
  *::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 6px;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  /* Fix spacing between navbar and tree on mobile */
  @media (max-width: 768px) {    
    /* Hide TOC navigation on mobile */
    #nd-tocnav {
      display: none !important;
    }

    #nd-page {
      margin-top: -48px !important;
    }

    #nd-subnav {
      padding-top: 8px !important;
      padding-bottom: 8px !important;
    }
  }
}

@layer components {}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
